@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "tailwindcss";
@import "tailwindcss/utilities";
@plugin "daisyui" {
  themes: light, dark;
}

.text-ellipsis-3-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

body,
html {
  @apply font-sans;
  height: 100%;
  margin: 0;
  padding: 0;
}